.first-section {
  height: 100vh;
  background-image: url(images/h_img.jpg);
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  margin-bottom: 0px;
  padding-top: 200px;
}

.mouse {
  padding-bottom: 30px;
}

.wwd {
  /* height: 70vh; */
}

.p1 {
  font-size: 25px;
  margin-bottom: 0px;
}

.services {
  background-image: url(images/s_image.jpg);
  height: 50vh;
}

.work1 {
  height: 150px;
}
.work2 {
  height: 150px;
}
.work3 {
  height: 150px;
}
.work4 {
  height: 150px;
}
.work5 {
  height: 150px;
}
.work6 {
  height: 150px;
}
.work7 {
  height: 150px;
}
.work8 {
  height: 150px;
}

.contact {
  background-image: url(images/c_image.jpg);
  height: 100vh;
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
}

#design {
  display: none;
  font-size: 10px;
}
#development {
  display: none;
  font-size: 10px;
}
#pr-management {
  display: none;
  font-size: 10px;
}

.portfolio {
  position: relative;
}
.port1 {
  display: none;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  height: 80%;
  width: 75%;
  text-align: left;
}
.port2 {
  display: none;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  height: 80%;
  width: 75%;
  text-align: left;
}
.port3 {
  display: none;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  height: 80%;
  width: 75%;
  text-align: left;
}
.port4 {
  display: none;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  height: 80%;
  width: 75%;
  text-align: left;
}
.port5 {
  display: none;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  height: 80%;
  width: 75%;
  text-align: left;
}
.port6 {
  display: none;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  height: 80%;
  width: 75%;
  text-align: left;
}
.port7 {
  display: none;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  height: 80%;
  width: 75%;
  text-align: left;
}
.port8 {
  display: none;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  height: 80%;
  width: 75%;
  text-align: left;
}

.form1 {
  margin: 0% 20%;
}
